@charset "utf-8";
@import "_index.scss";
@import "topNav";
@import "topNav_search";
@import "nav";

li{
    list-style: none;
}
i{
    font-style: normal;
}
.clearFix::after{
    content:'';
    clear:both;
    display:block;
}
//商品路径
.mod_main{
    font-family: "微软雅黑";
    font-size:12px;
    margin-bottom:50px;
}
.shop_addr{
    height: 50px;
    line-height: 50px;
    font-size: 13px;
    .shop_addr_index{
        color: #333;
    }
    .shop_addr_i,.shop_addr_name{
        color: #666;
    }
}
//商品详情
//放大镜
.scale{
    float: left;
    width: 420px;
}
.scale_pic{
    position: relative;
    width: 418px;
    height: 418px;
    border: 1px solid #e7e7e7;
    z-index: 20;
    display: table;
    table-layout: fixed;
    .scale_pic_small{
        cursor: move;
        width: 418px;
        height: 418px;
        position: relative;
        img{
            width:100%;
            height:100%;
        }
        span{
            display: block;
            overflow: hidden;
            position: absolute;
            // width: 0;
            // height: 0;
            background: url(http://www.qiyipic.com/common/fix/iqiyi_shop_images/image_zoom.png) repeat;
            cursor: move;
            z-index: 10;
            // top: 0px;
            // left: 0px;
        }
    }
    .scale_pic_big{
        display:none;
        overflow: hidden;
        position: absolute;
        width: 420px;
        height: 420px;
        left: 428px;
        top: -1px;
        img{
            position: absolute;
            left: 0px;
            top: 0px;
        }
    }
}
//图片列表
.select{
    img{
        padding: 0 !important;
        border: 2px solid #ee394b !important;
    }
}
.pic_list_box{
    position: relative;
    width: 420px;
    height: 60px;
    margin-top: 13px;
    .pic_list_cont{
        display: inline;
        float: left;
        overflow: hidden;
        width: 380px;
        height: 60px;
        margin-left: 20px;
        .pic_list{
            width:1000px;
        }
        li{
            display: none;
            float: left;
            width: 60px;
            height: 60px;
            margin-right: 20px;
            img{
                width: 56px;
                height: 56px;
                padding: 1px;
                border: 1px solid #e7e7e7;
                cursor: pointer;
            }
        }
    }
}

//商品详细信息
.product_detail{
    display: inline;
    float: left;
    width: 759px;
    margin-left: 20px;
    position: relative;
    z-index: 10;
}
.detail_title{
    overflow: hidden;
    color: #333;
    font-size: 18px;
    width: 100%;
    font-weight: bold;
    display: inline;
}
.detail_subtitle{
    color: #ee394b;
    font-size: 14px;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    font-weight: normal;
}
.detail_price{
    padding: 15px 20px;
    background: url(http://www.qiyipic.com/common/fix/qy_shop/detail-priceBg.png) no-repeat;
    color: #777;
    overflow: hidden;
    background-size: cover;
    .price_label{
        font-size: 12px;
        display: inline-block;
        vertical-align: middle;
        line-height: 50px;
        float: left;
    }
    .price_now{
        display: inline-block;
        color: #ee394b;
        font-size: 30px;
        vertical-align: middle;
        white-space: nowrap;
        line-height: 50px;
        .yen{
            font-size: 20px;
            font-style: normal;
        }
        .price{
            font-size: 30px;
            font-weight: normal;
        }
    }
}
.detail_sale{
    overflow: hidden;
    padding: 15px 0 10px 0;
    border-bottom: 1px dotted #c8c8c8;
    display: block;
    width: 100%;
    .detail_sale_cont,.detail_comment_cont{
        display: inline;
        float: left;
        width: 100px;
        border-left: 1px solid #ccc;
        margin-left: -1px;
        text-align: center;
        .sale_label,.comment_label{
            color: #3c3c3c;
            .sale_icon{
                width: 16px;
                height: 12px;
                background: url(http://www.qiyipic.com/common/fix/iqiyi_shop_images/detail-icon.png) no-repeat;
                display: inline-block;
                vertical-align: -1px;
            }
            .comment_icon{
                @extend .sale_icon;
                background: url(http://www.qiyipic.com/common/fix/iqiyi_shop_images/detail-icon.png) no-repeat -22px 0 !important;
            }
            .sale_num,.comment_num{
                color: #c00;
            }
        }
    }
}
//地址,库存
.detail_choose_cont{
    padding-bottom: 8px;
}
.detail_label{
    float: left;
    display: inline-block;
    width: 42px;
    text-align: left;
}
.detail_info{
    margin-top: 20px;
    padding: 0 0 0 20px;
}
.delivery{
    margin-bottom: 20px;
    //运费
    .deliveryFrom{
        color: #3c3c3c;
    }
    .and{
        margin: 0 3px;
        color: #999;
    }
    .deliveryTo{
        margin-right: 10px;
        color:#777;
    }
    .deliveryPrice{
        color: #3c3c3c;
    }
}
//类型选择
.detail_pick{
    margin-bottom: 20px;
}
.detail_pick_box{
    overflow: hidden;
    display: block;
    .detail_pick_list{
        margin-top: -10px;
        li{
            width:32px;
            position: relative;
            display: inline;
            float: left;
            margin-right: 10px;
            margin-top: 10px;
            .pick_link{
                display: block;
                width: 28px;
                height: 28px;
                padding: 1px;
                line-height: 28px;
                text-align: center;
                border: 1px solid #999;
                background-size:30px 30px;
            }
            .pick_choose{
                border: 2px solid #ee394b !important;
                padding: 0  !important;
            }
            .pick_link:hover{
                border: 2px solid #ee394b;
                padding: 0;
            }
        }
        .type_no{
            display: inline-block;
            color:red;
            margin-top:10px;
        }
    }
}
//库存
//去除input number的按钮
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"]{
    -moz-appearance: textfield;
}
.detail_amount_box{
    margin-bottom: 20px;
    .choose_amount{
        float: left;
    }
    .amount_input{
        width: 58px;
        height: 28px;
        margin-right: 2px;
        border: 1px solid #999;
        text-align: center;
        font-size: 12px;
        color: #3c3c3c;
        outline: 0;
        vertical-align: top;
    }
    .amount_btn{
        display: inline-block;
        width: 20px;
        height: 30px;
        vertical-align: top;
        .amount_increase{
            display: inline-block;
            width: 20px;
            height: 14px;
            background: url(http://www.qiyipic.com/common/fix/h5_qiyiShop_img/detail_icon4.png) no-repeat;
            vertical-align: top;
            background-position: -160px -22px;
            margin-bottom: 2px;
        }
        .amount_decrease{
            @extend .amount_increase;
            cursor: default;
            background-position: -180px -66px;
        }
    }
    .amount_forSale{
        height: 30px;
        line-height: 30px;
        display: inline-block;
        padding-left: 10px;
        color: #3c3c3c;
    }
}

//立即购买,加入购物车
.detail_submit_btn{
    margin-top: 15px;
    .btn_buy{
        background-color: #ee394b;
        border: 1px solid #ee394b;
    }
    .btn_cart{
        background-color: #fd7b7b;
        border: 1px solid #fd7b7b;
        .btn_cart_icon{
            margin-right: 5px;
            display:inline-block;
            width: 20px;
            height: 20px;
            background: url(http://www.qiyipic.com/common/fix/h5_qiyiShop_img/detail_icon4.png) no-repeat;
            background-position: 0 -20px;
        }
    }
}
//按钮共同样式
.submit_btn{
    display: inline-block;
    width: 148px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    vertical-align: middle;
    border-radius: 2px;
    margin-right: 5px;
}

//服务承诺
.detail_service{
    margin-top: 30px;
    li{
        margin-right: 15px;
        display: inline-block;
        vertical-align: middle;
        .service_icon{
            display: inline-block;
            vertical-align: middle;
            width: 16px;
            height: 16px;
            margin-right: 2px;
            background-image: url(https://mall3.qiyipic.com/mall/20170217/0c/c9/mall_58a66acff6882e5fa5910cc9_1x1.png);
            background-size: contain;
        }
        .service_info{
            vertical-align: middle;
            color: #777;
        }
    }
    .service_label{
        margin-right: 0;
        font-size: 12px;
        color: #777;
    }
}

//侧边栏
.toolbar{
    width: 42px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3003;
    background: #000;
    .toolbar_top{
        height: 25%;
    }
    .toolbar_ul{
        li{
            text-align: center;
            .toolbar_ul_link{
                width: 21px;
                height: 23px;
                display: inline-block;
                background: url(http://www.qiyipic.com/common/fix/iqiyi_shop_images/toolbar_linkIcon.png) no-repeat;
                margin: 10px 0;
            }
        }
        .toolbar_cart{
            border-top: 1px dotted #5e5e5e;
            border-bottom: 1px dotted #5e5e5e;
            .toobar_cart_link{
                font-size: 14px;
                color: #fff;
                display: block;
                padding: 12px 0;
                position: relative;
                .cart_icon{
                    width: 20px;
                    height: 20px;
                    display: inline-block;
                    background: url(http://www.qiyipic.com/common/fix/h5_qiyiShop_img/detail_icon4.png) no-repeat;
                    background-position: 0 -20px;
                    vertical-align: middle;
                }
                .cart_info{
                    width: 20px;
                    display: block;
                    padding-left: 11px;
                    margin-bottom: 5px;
                    margin-top: 5px;
                    line-height: 16px;
                    font-size: 14px;
                    color: #fff;
                }
                .cart_num{
                    width: 20px;
                    height: 20px;
                    display: block;
                    background: #ee394b;
                    color: #fff;
                    text-align: center;
                    line-height: 20px;
                    font-size: 14px;
                    border-radius: 10px;
                    margin-left: 11px;
                }
            }
            .toobar_cart_link:hover{
                background: #ee394b;
            }
        }
    }
    .toolbar_bottom{
        position: absolute;
        bottom: 20px;
        width: 100%;
        left: 0;
        .totop_link{
            display: block;
            text-align: center;
            padding: 5px 0;
            .totop_icon{
                background: url(http://www.qiyipic.com/common/fix/iqiyi_shop_images/goTop_icon.png) no-repeat;
                width: 25px;
                height: 20px;
                display: inline-block;
                vertical-align: middle;
            }
        }
        .totop_link:hover{
            background: #ee394b;
        }
    }
}



