@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

body {
  font-family: "微软雅黑";
  background-color: #f7f1cf; }

a {
  color: #333;
  text-decoration: none; }

.signup_box {
  display: none; }

.register_title {
  border-bottom: 1px solid #e9e9e9;
  background-color: #f6f6f6; }
  .register_title .register_title_cont {
    width: 982px;
    height: 32px;
    line-height: 32px;
    padding: 23px 0;
    margin: 0 auto;
    overflow: hidden; }
    .register_title .register_title_cont .goto_signin {
      text-decoration: none;
      color: #666;
      font-size: 13px;
      margin-left: 20px;
      float: right; }
    .register_title .register_title_cont .iqiyi_logo {
      float: left;
      height: 32px; }
      .register_title .register_title_cont .iqiyi_logo .iqiyi_logo_link {
        display: inline-block;
        width: 97px;
        height: 32px;
        background: url(http://www.qiyipic.com/common/fix/pay/logo.png) no-repeat; }
    .register_title .register_title_cont .iqiyi_logo_title {
      float: left;
      background: url(http://www.qiyipic.com/common/fix/pay/dot.png) no-repeat left center;
      margin-left: 6px; }
      .register_title .register_title_cont .iqiyi_logo_title h2 {
        display: block;
        color: #5aa700;
        font-size: 17px;
        font-weight: normal;
        padding-left: 8px;
        line-height: 32px;
        height: 32px;
        margin: 0; }

.register_cont {
  height: 600px;
  background-color: #eff5ef;
  overflow: hidden; }
  .register_cont .register_nav {
    height: 40px;
    padding: 30px; }
    .register_cont .register_nav .register_nav_cont {
      width: 486px;
      height: 40px;
      margin: 0 auto;
      position: relative;
      background: #5aa700;
      border-radius: 20px;
      text-align: center;
      line-height: 40px; }
      .register_cont .register_nav .register_nav_cont .register_nav_text {
        color: #fff; }

.info_container {
  height: 78px;
  border-bottom: 1px solid #ddd;
  position: relative; }
  .info_container .info_title {
    margin-top: 48px;
    color: #333;
    font-size: 16px;
    display: inline-block;
    position: relative;
    float: left;
    z-index: 3;
    width: 100px; }
  .info_container .error_info {
    color: #f94343;
    font-size: 12px;
    padding-top: 26px;
    height: 15px; }
  .info_container .input_box {
    position: relative;
    float: left;
    width: 200px;
    border: 0;
    outline: 0;
    color: #333;
    font-size: 16px;
    margin-top: 8px;
    font-family: "微软雅黑"; }

.register_frame {
  width: 460px;
  position: relative;
  background-color: #fff;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 0 24px rgba(90, 167, 0, 0.1); }
  .register_frame .register_frame_cont {
    width: 360px;
    margin: 0 auto;
    height: 450px; }
    .register_frame .register_frame_cont .info_agree {
      font-size: 12px;
      text-align: center;
      margin-top: 20px;
      margin-bottom: -22px;
      color: #999; }
      .register_frame .register_frame_cont .info_agree a {
        color: #5aa700;
        text-decoration: none; }

.onfocus {
  border-bottom: 1px solid #5aa700; }

.btn_green {
  background-color: #5aa700;
  cursor: pointer; }

.btn_register, .btn_signin {
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  display: block;
  margin-top: 40px;
  text-decoration: none;
  text-align: center;
  color: #fff; }

.btn_gray {
  background-color: #bcdd98;
  cursor: not-allowed; }

.signin_title {
  background-color: #f6f6f6; }
  .signin_title .signin_title_cont {
    width: 1040px;
    height: 40px;
    line-height: 40px;
    padding: 9px 0;
    margin: 0 auto; }
    .signin_title .signin_title_cont .signin_iqiyi_logo {
      height: 40px;
      float: left; }
      .signin_title .signin_title_cont .signin_iqiyi_logo .iqiyi_logo_link {
        display: inline-block;
        height: 40px;
        width: 120px;
        background: url(http://www.qiyipic.com/common/fix/v3-login/login-qiyi-logo.png) no-repeat; }

.signin_cont {
  width: 1039px;
  height: 562px;
  margin: 0 auto;
  position: relative;
  background: url(http://www.qiyipic.com/common/fix/v3-login/bg-login.png) no-repeat; }

.signin_frame {
  width: 460px;
  height: 420px;
  background-color: #fff;
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  top: 90px;
  right: 30px; }
  .signin_frame a:hover {
    color: #699f00; }
  .signin_frame .signin_frame_top {
    height: 366px; }
    .signin_frame .signin_frame_top .signin_frame_top_cont {
      width: 360px;
      margin: 0 auto;
      height: 366px; }
    .signin_frame .signin_frame_top .signin_frame_title {
      font-size: 16px;
      color: #666;
      text-align: center;
      margin-left: 0;
      line-height: 80px;
      height: 50px;
      font-weight: normal; }
    .signin_frame .signin_frame_top .signin_password_container {
      float: left;
      position: relative; }
      .signin_frame .signin_frame_top .signin_password_container .input_pass_box {
        width: 253px;
        border: 0;
        outline: 0;
        color: #333;
        font-size: 16px;
        margin-top: 8px;
        font-family: "微软雅黑"; }
    .signin_frame .signin_frame_top .forgot_pass {
      margin-top: 10px;
      font-size: 12px;
      position: relative;
      float: right; }
  .signin_frame .signin_frame_bottom {
    height: 54px;
    background-color: #f7f7f7;
    position: relative; }
    .signin_frame .signin_frame_bottom .signin_frame_bottom_cont {
      width: 424px;
      margin: 0 auto;
      font-size: 14px;
      height: 18px;
      line-height: 18px;
      padding: 18px 0; }
      .signin_frame .signin_frame_bottom .signin_frame_bottom_cont a {
        text-decoration: none;
        display: inline-block;
        float: left; }

.eye_close, .eye_open {
  width: 22px;
  height: 13px;
  background: url(http://www.qiyipic.com/common/fix/v3-login/login-tn.png) no-repeat 0 -100px;
  position: absolute;
  right: 0;
  top: 52px; }

.eye_open {
  background-position: -42px -99px; }

.btn_signin {
  margin-top: 80px; }

/*# sourceMappingURL=signin&signup.css.map */
